<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BITCollege_JHContext" connectionString="Data Source=DESKTOP-FSJG2C7\EARTH; Initial Catalog=BITCollege_JHContext; Integrated Security=True; "
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>